.dataTable_paginate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.paginate_button {
    display: flex;
    align-items: center;
    padding: 5px;
}

.paginate_button i {
    margin-right: 5px;
}
#DataTables_Table_0_paginate {
    display: flex;
    align-items: center;
}

.paginate_container{
display:flex;
align-items:center;
justify-content: space-between;
margin: bottom 20px;

}
.paginate_button {
    margin-right: 10px;
}

.entries{
    margin-left: auto;
}