

<div class="navbar-area nav-bg-2">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets\images\incuppy.png" class="main-logo" lt="logo">
                        <img src="assets\images\incuppy.png" class="white-logo" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="desktop-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets\images\incuppy.png" class="main-logo" alt="logo">
                    <img src="assets\images\incuppy.png" class="white-logo" alt="logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a routerLink="/main" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/main" fragment="gallery" class="nav-link" (click)="scrollTo('gallery')">
                                Gallery
                            </a>
                        </li>

                        <li class="nav-item">
                            <a routerLink="/main" fragment="games" class="nav-link" (click)="scrollTo('games')">
                                Games
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a routerLink="/main" fragment="contact" class="nav-link" (click)="scrollTo('contact')">
                                Contact
                            </a>
                        </li>
                        <li class="pt-3">
                            <div class="sidebar-btn">
                                <a  (click)="navigateToLogin()" class="default-btne">LogIn</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="icon">
                        <i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
