<div class="footer-area pt-70 pb-20 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="footer-logo-area">
                    <a href="index.html"><img src="assets\images/incuppy.png" alt="Image"></a>
                    <p>Sanu University was established by J.H Merthon in 1810 for the public benefit. Afterwards, it
                        is recognized globally</p>
                    <div class="contact-list">
                        <ul>
                            <li><a href="tel:+01987655567685">+01-9876-5556-7685
                                </a></li>
                            <li><a href="#"><span class="__cf_email__" data-cfemail="29484d444047695a48475c074c4d5c">[email&nbsp;protected]</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 ">
                <div class="footer-widjet">
                    <h3>Gallery</h3>
                    <div class="list">
                        <ul>
                            <li><a href="#">Blocks</a></li>
                            <li><a href="#">Rooms</a></li>
                            <li><a href="#">Hall</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widjet">
                    <h3>Games</h3>
                    <div class="list">
                        <ul>
                            <li><a href="#">Chess</a></li>
                            <li><a href="#">Snooker</a></li>
                            <li><a href="#">Carroms</a></li>
                            <li><a href="#">Table Tennis</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widjet">
                    <h3>Contact Us</h3>
                    <div class="list">
                        <ul>
                            <li><a href="#">+91 79456123</a></li>
                            <li><a href="#">abcd@gamil.com</a></li>
                            <li><a href="#">Add litin, 103-1 kitterground</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape">
            <img src="assets\images/shape-1.png" alt="Image">
        </div>
    </div>
</div>
<div class="copyright-area">
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-lg-6 col-md-4">
                    <div class="social-content">
                        <ul>
                            <li><span>Follow Us On</span></li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank"><i class="ri-facebook-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/" target="_blank"><i class="ri-twitter-fill"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/?lang=en" target="_blank"><i class="ri-instagram-line"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/?lang=en" target="_blank"><i class="ri-linkedin-fill"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="copy">
                        <p>© Copyrights inncupy 2023. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>