<div class="breadcrumbs-area">
    <h3>User Registration</h3>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>User Registration</li>
    </ul>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <form class="new-added-form">
                    <div class="row">


                        <div class="col-xl-12 col-lg-6 col-12 form-group">
                            <label>Registration No: </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-4 col-lg-6 col-12 form-group">
                            <label>First Name: </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-4 col-lg-6 col-12 form-group">
                            <label>Middle Name:</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-4 col-lg-6 col-12 form-group">
                            <label>Last Name:</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Gender: </label>
                            <select class="select2 select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option value="" data-select2-id="3">Please Select Gender *</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Others</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ey10-container"><span class="select2-selection__rendered" id="select2-ey10-container" role="textbox" aria-readonly="true" title="Please Select Gender *">Please Select Gender *</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Cotact No: </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Father Name:</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Mother Name:</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Date Of Birth</label>
                            <input type="date" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Join Date</label>
                            <input type="date" placeholder="" class="form-control">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Address: </label>
                            <textarea class="textarea form-control" name="message" id="form-message" cols="4" rows="4"></textarea>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Photo </label>
                            <input type="file" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-12 col-lg-6 col-12 form-group">
                            <label>E-Mail id: </label>
                            <input type="email" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Password </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>

                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            <label>Confirm Password </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>




                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Register</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>