<div class="breadcrumbs-area">
    <h3>Recent Orders</h3>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>Recent Orders</li>
    </ul>
</div>
<div class="card height-auto">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table text-center display rec-or data-table text-nowrap">
                <thead>
                    <tr>
                        <th><b>Location</b></th>
                        <th><b>Status</b></th>
                        <th><b>Ready Time - Date</b></th>
                        <th><b>Order Total</b></th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Default</td>
                        <td><b>Received</b></td>
                        <td>10 Nov at 10:22</td>
                        <td>$14.33 (3 Total items)</td>
                        <td><button class="re-btn pr-4"><i class="flaticon-script pr-2"></i>View/Reorder</button></td>
                    </tr>
                    <tr>
                        <td>Default</td>
                        <td><b>Received</b></td>
                        <td>10 Nov at 10:22</td>
                        <td>$14.33 (3 Total items)</td>
                        <td><button class="re-btn pr-4"><i class="flaticon-script pr-2"></i>View/Reorder</button></td>
                    </tr>
                    <tr>
                        <td>Default</td>
                        <td><b>Received</b></td>
                        <td>10 Nov at 10:22</td>
                        <td>$14.33 (3 Total items)</td>
                        <td><button class="re-btn pr-4"><i class="flaticon-script pr-2"></i>View/Reorder</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>