<body>
<div class="bg-op"></div>
<div class="form-container">
    <div class="item-logo">
        <img src="assets/img/incuppy.png" alt="logo">
    </div>
    <h2 class="form-title">Login</h2>
    <form id="login-form">

        <div class="password-container">
            <input type="text" id="login-username" placeholder="Username"  [(ngModel)]="username" required>
            <input type="password" id="login-password" placeholder="Password" [(ngModel)]="password" required>
            <i class="fas fa-eye password-icon" id="password-toggle"></i>
            <button (click)="login()" id="login-button">Login</button>
            <div>
                <a href="Forgot-Password.html">Forgot Password</a>
            </div>
        </div>
    </form>
    <!-- <p>Don't have an account? <a href="#">Register here</a></p> -->
    <p id="message" class="message"></p>
</div>
</body>