<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Visitor Registration</h3>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Account Settings Area Start Here -->
    <div class="row">
        <div class=" col-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h5>Visitor Registration</h5>
                        </div>
                    </div>

                    <form class="new-added-form">
                        <div class="row">
                            <div class="row col-xl-12 col-lg-6 col-12 form-group">
                                <div class=" col-lg-10 col-12 form-group">
                                    <input type="text" placeholder="Search  ..." class="form-control">
                                </div>
                                <div class="col-lg-2 col-12  form-group ">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>ID Number</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-lg-6 form-group">
                                <label>Check IN Date</label>
                                <input type="date" placeholder="" class="form-control">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-lg-6 form-group">
                                <label>Check Out Date</label>
                                <input type="date" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-lg-6 form-group">
                                <label>Gender</label>
                                <select class="select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true" data-select2-id="1">
                                    <option value="0" data-select2-id="3">Please Select</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Transgender</option>

                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-6qon-container"><span class="select2-selection__rendered" id="select2-6qon-container" role="textbox" aria-readonly="true" title="Please Select">Please Select</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <!-- <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Religion</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Nationality</label>
                                <input type="text" placeholder="" class="form-control">
                            </div> -->
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Category</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Mobile Number</label>
                                <input type="number" placeholder="" class="form-control">
                            </div>
                            <!-- <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Department Name(Batch)</label>
                                <input type="text" placeholder="" class="form-control">
                            </div> -->
                            <div class="col-lg-6 col-12 form-group mg-t-30">
                                <label class="text-dark-medium">Upload Visitor Photo (150px X 150px)</label>
                                <input type="file" class="form-control-file">
                            </div>

                            <div class="col-12 form-group mg-t-8">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>