<div class="health-care-area ptb-50 pb-0 bg-f4f6f9" id="games">
    <div class="container">
        <div class="section-title">
            <h2>Games</h2>
            <p>Add Some Game Time To Your Evenings.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single-health-care-card style1">
                    <div class="img">
                        <a href="#"><img src="assets/images/snooker.jpg" alt="Image"></a>
                    </div>
                    <div class="health-care-content">
                        <a href="#">
                            <h3>Let Me Be The One To Break It Up.</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet con sec teturo adip iscing elit sed do eiusmod tempor insi
                            didunt ut labore et dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-health-care-card style2">
                    <div class="img">
                        <a href="#"><img src="assets/images/game-chess.jpg" alt="Image"></a>
                    </div>
                    <div class="health-care-content">
                        <a href="#">
                            <h3>Battle Field Of The Mind</h3>
                        </a>
                        <p>Lorem ipsum dolor sit amet con sec teturo adip iscing elit sed do eiusmod tempor insi
                            didunt ut labore et dolore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

