<div class="dashboard-content-one">
    <!-- All Subjects Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Address Book</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Address Book</li>
        </ul>
    </div>
    <div class="card height-auto">
        <div class="card-body">
            <div class="row">
                    <div class="col-12">
                        <p>spice garden.Marathahalli.BengaluruMr. &amp;missBangalore(North),Karnataka,
                            IndiaKarnatakaUnited Kingdom</p>
                        <div class="ctn">
                            <button type="button" class="add-btn1 ">EDIT</button>
                            <span class="ctn-p">DELETE</span>
                        </div>
                    </div>
                    <div class="col-12 form-group mt-5">
                        <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add New
                            Address</button>
                    </div>
                
            </div>
        </div>
    </div>