<div class="dashboard-content-one">
    <!-- All Subjects Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>My Account</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>My Account</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h5 class="item-title mb-0">Welcome T Gautam</h5>
                        </div>

                    </div>
                    <hr>
                    <form class="new-added-form">
                        <div class="row">
                            <div class="col-6 col-lg-6 col-12 form-group row">
                                <div class="col-10 col-lg-10 col-10">
                                    <h3>My Default Address</h3>
                                    <p>spice garden. Marathahali. Benguluru Mr. &amp; Miss Banguluru <br>
                                        (North), Karnataka, Indaia Karnataka United kingdom </p>

                            </div>
                            <div class="col-2 col-lg-2 col-2">
                                <button class="caf-btn">Edit</button>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-12  text-center">
                            <div><i class="fa fa-shopping-basket p-3" style="font-size: 60px;"></i>
                            </div>
                            <div class="item-subtitle p-3">There are no menus added in your cart</div>
                            <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">ORDER
                                NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>