<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Visit Information</h3>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Account Settings Area Start Here -->
    <div class="row">
        <div class=" col-12 ">
            <div class="card">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h5>Visit Information</h5>
                        </div>
                    </div>

                    <form class="new-added-form">
                        <div class="row">


                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Name Of The Person To Meet</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>

                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Department Of The Meet Person</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>ID Of The Meet Person</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Visitor ID</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Reason of The Visit</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Time Limit</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Acess TO Which Department</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-xl-12 col-lg-6 col-12 form-group">
                                <label>Remarks From Visitor</label>
                                <input type="text" placeholder="" class="form-control">
                            </div>

                            
                            <div class="col-12 form-group mg-t-8">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>