<div id="wrapper" class="wrapper bg-ash">
    
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
      
        <div class="dashboard-content-one">
            
            <!-- Account Settings Area Start Here -->
            <div class="row">
                <div class="col-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="heading-layout1">
                                <div class="item-title">
                                    <h3>Reset Your Password</h3>
                                </div>
                            </div>

                            <form class="new-added-form">
                                <div class="row">
                                    
                                    <div class=" col-12 form-group">
                                        <label>Enter your Email</label>
                                        <input type="email" placeholder="enter your mail address" class="form-control">
                                    </div>
                                   <div class="col-12 rules">
                                    <p>Password Reset Instructions Will Be Sent to your Registered email address</p>
                                   </div>

                                    <div class="col-12 form-group mg-t-8 d-flex justify-content-between">
                                        <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
                                            <a href="main-login-page.html" class="text-white">Login</a>
                                        </button>
                                        
                                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
          